{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="std-container">
    <div class="row">
        <div class="col-12">
            <h1>About US</h1>
            <hr>
        </div>
        <div class="col-12">
            <ul>
                <li class="list-unstyled">
                    <p>
                        Ink and Toner Solutions Ltd a 100% Irish owned company based in Cork, has been serving both home
                        and
                        business users since 2005, and has grown to be one of the largest suppliers of printer
                        consumables
                        in Ireland.</p>
                </li>
                <li class="list-unstyled">
                    <p>
                        Our success is based on a simple philosophy, we give our customers what they want, when they
                        want
                        it, at the best available prices.
                    </p>
                </li>
                <li class="list-unstyled">
                    <p>
                        We always offer extremely competitive pricing and follow that up with a back up service that is
                        second to none. We beleive that the value offered by a company can only truly be known when you
                        encounter a
                        problem which is why all our staff are experienced in the printer and printer consumables field
                        and
                        are available
                        to offer advice and guidance towards the product that best suits your needs.
                    </p>
                </li>
                <li class="list-unstyled">
                    <p>
                        We sincerely hope you enjoy using our website and are available to help you find the right
                        product
                        if required
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}