<script type="text/javascript">
    /* Get values for filters from template */
    var filterValues = []; 
    {% for filter in filters %}
        filterValues.push(`{{ filter }}`); 
    {% endfor %}

    var productInfos = []; 
    {% for info in product_info %}
        var productObj = {};
        productObj['id'] = "{{ info.id }}";
        {% if info.colour %}
        var filterType = "{{ info.colour }}";
        {% elif info.print_colour %}
        var filterType = "{{ info.print_colour }}";
        {% elif info.paper_size %}
        var filterType = "{{ info.paper_size }}";
        {% elif info.capacity %}
        var filterType = "{{ info.capacity }}";
        {% endif %}
        productObj['filter'] = filterType;
        productInfos.push(productObj); 
    {% endfor %}


    for (i = 0; i < filterValues.length; i++) {
        var filterButton = document.getElementById(`${filterValues[i]}`);
        filterButton.addEventListener('click', function () {
            if ($(this).hasClass("filter-btn-checked")) {
                $(this).removeClass("filter-btn-checked").addClass("filter-btn-unchecked");
                for (x = 0; x < productInfos.length; x++) {
                    if (productInfos[x]['filter'] != this.id) {
                        $(`#${productInfos[x]['id']}`).show();
                    }
                }
            } else {
                /* reset all products and buttons */
                for (x = 0; x < productInfos.length; x++) {
                    $(`#${productInfos[x]['id']}`).show();
                }
                $(".filter-btn-checked").removeClass("filter-btn-checked").addClass("filter-btn-unchecked");

                /* Toggle selected button and only show associated products */
                if ($(this).hasClass("filter-btn-unchecked")) {
                    $(this).removeClass("filter-btn-unchecked").addClass("filter-btn-checked");
                    for (x = 0; x < productInfos.length; x++) {
                        if (productInfos[x]['filter'] != this.id) {
                            $(`#${productInfos[x]['id']}`).hide();
                        }
                    } 
                }

            }

        })
    }
</script>