<div class="optional-extras-wrapper">
    <div class="row optional-extras-container">
        <div class="col-12">
            <h3 class="text-on-green pb-2">Products that might also interest you...</h3>
        </div>
        <div class="d-none d-lg-block col-lg-12">
            {% for related in related_products %}
            <div class="card product-list rounded-1 border-0" id="{{ related.id }}">
                <div class="row no-gutters">
                    <div class="col-3">
                        <img class="card-img" src="{{ related.img }}" alt="{{ related.name }}">
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <div class="card-title">
                                <strong>
                                    <a href="{% url 'product_detail' related.id %}"> {{ related.title }} </a>
                                </strong>
                            </div>
                            <p class="card-text pt-4">
                                <div class="row">
                                    <div class="col-8 pt-2">{{ related.description }}</div>
                                    <div class="col-4">
                                        {% if user.is_authenticated %}
                                        {% if related.id in favourites %}
                                        <form action="{% url 'remove_from_favourites' related.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn favourite-btn float-right"
                                                data-toggle="popover" data-content="Remove from favourites"
                                                data-placement="bottom">
                                                <span class="icon text-danger">
                                                    <i class="fas fa-heart"></i>
                                                </span>
                                            </button>
                                            <input type="hidden" name="origin" value="{{ originator }}">
                                        </form>
                                        {% else %}
                                        <form action="{% url 'add_to_favourites' related.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn favourite-btn float-right"
                                                data-toggle="popover" data-content="Add to favourites"
                                                data-placement="bottom">
                                                <span class="icon text-danger">
                                                    <i class="far fa-heart"></i>
                                                </span>
                                            </button>
                                            <input type="hidden" name="origin" value="{{ originator }}">
                                        </form>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                            </p>
                            {% for info in product_info %}
                            {% if related.id == info.id %}
                            <p>
                                {% if info.pages %}Prints up to {{ info.pages }}<br>{% endif %}
                                {% if info.volume %}Contains {{ info.volume }}<br>{% endif %}
                                {% if info.colour %}Colour:
                                <span data-prod-id="{{ info.id }}">{{ info.colour |capfirst }}</span><br>
                                {% endif %}
                            </p>
                            {% endif %}
                            {% endfor %}
                            {% if related.blurb %}
                            <a href="#blurb_{{related.id}}" data-toggle="collapse"><small>more
                                    info</small></a>&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            <a href="#compat_{{related.id}}" data-toggle="collapse"><small>printer
                                    compatibility</small></a>
                            <div class="collapse" data-item_id="{{ related.id }}" id="blurb_{{ related.id }}">
                                <p><small>{{ related.blurb |safe }}</small></p>
                            </div>
                            <div class="collapse" data-item_id="{{ related.id }}" id="compat_{{ related.id }}">
                                <div class="row">
                                    {% for printer in related.related_printers %}
                                    <div class="col-6"><small>{{ printer.printer_name |safe }}</small></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-12 pricing">
                            <strong>€{{ related.calculate_inc_vat_price }} <span class="text-muted">inc
                                    VAT<span></strong>
                        </div>
                        <div class="col-12 pricing">
                            <small class="text-muted">€{{ related.price }} ex VAT</small>
                        </div>
                        <div class="col-12 pricing">
                            <form class="form" action="{% url 'add_to_basket' related.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12 pricing">
                                        {% include 'products/includes/quantity_selector.html' with product=related%}
                                    </div>
                                    <div class="col-12 pricing add-to-basket-btn">
                                        <input type="submit" class="btn btn-success w-100 rounded-0 border-0"
                                            value="Add to Basket">
                                    </div>
                                    <input type="hidden" name="origin" value="{{ originator }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 d-block d-lg-none">
            {% for related in related_products %}
            {% include 'products/includes/product_list_mobile.html' with product=related%}
            {% endfor %}
        </div>
    </div>
</div>