{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="row std-container">
    <div class="col-12 col-lg-6 order-lg-last">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title text-center checkout-title">Order Details</h4>
                <hr class="checkout-rule">
                {% for item in basket_items %}
                <div class="row">
                    <div class="col-12 d-sm-none text-center">
                        <h5>{{ item.product.title }}</5>
                    </div>
                    <div class="col-6 col-sm-2 order-preview-img">
                        {% if item.product.img_src %}
                        <img class="basket-img" src="{{ item.product.img_src }}" alt="{{ item.product.title }}">
                        {% elif item.product.image %}
                        <img class="basket-img" src="{{ MEDIA_URL}}{{ item.product.image }}"
                            alt="{{ item.product.title }}">
                        {% else %}
                        <img class="basket-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.title }}">
                        {% endif %}
                    </div>
                    <div class="col-6 col-sm-8">
                        <div class="row">
                            <div class="col-6 d-none d-sm-flex">
                                <h5>{{ item.product.title }}</h5>
                            </div>
                            <div class="col-12 col-sm-3">
                                <p class="small">Price: €{{ item.product.price }} each</p>
                            </div>
                            <div class="col-12 col-sm-3">
                                <p class="small">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-12 d-sm-none">
                                <p class="small">Total Price: €{{ item.product.price |calc_line_total:item.quantity}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-none d-sm-flex">
                        <p>€{{ item.product.price |calc_line_total:item.quantity}}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="row mt-4">
                    <div class="col-9 col-sm-10 text-right">
                        <p>Sub Total</p>
                    </div>
                    <div class="col-3 col-sm-2 text-right">
                        <p>€{{ sub_total }}</p>
                    </div>
                    <div class="col-9 col-sm-10 text-right">
                        <p>Total VAT:</p>
                    </div>
                    <div class="col-3 col-sm-2 text-right">
                        <p>€{{ total_vat }}</p>
                    </div>
                    {% if delivery == 0 %}
                    <div class="col-12 text-right">
                        <p class="text-danger">FREE DELIVERY!</p>
                    </div>
                    {% else %}
                    <div class="col-9 col-sm-10 text-right">
                        <p>Delivery:</p>
                    </div>
                    <div class="col-3 col-sm-2 text-right">
                        <p>€{{ delivery |floatformat:2}}</p>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="col-9 col-sm-10 text-right border-top">
                        <p class="pt-2"><strong>Order total:</strong></p>
                    </div>
                    <div class="col-3 col-sm-2 text-right border-top">
                        <p class="pt-2"><strong>€{{ basket_total }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <form id="payment-form" action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <h4 class="card-title text-center checkout-title">Your Details</h4>
            <hr class="checkout-rule">
            {% if request.user.is_authenticated %}
            <div id="accordion">
                <div class="card product-list ml-0 pl-0">
                    <div class="card-header rounded-1" id="billing-details">
                        <button type="button" class="btn w-100 h-100 card-title" data-toggle="collapse"
                            data-target="#billing-details-form" aria-expanded="false"
                            aria-controls="billing-details-form">
                            Billing Address
                        </button>
                    </div>

                    <div id="billing-details-form" class="collapse" aria-labelledby="billing-details"
                        data-parent="#accordion">
                        <div class="card-body">
                            {{form |crispy}}
                            <input type="hidden" name='email' value="{{ request.user.email }}">
                        </div>
                    </div>
                </div>
                <div class="card product-list ml-0 pl-0">
                    <div class="card-header rounded-1" id="delivery-details">
                        <button type="button" class="btn w-100 h-100 card-title" data-toggle="collapse"
                            data-target="#delivery-details-form" aria-expanded="true"
                            aria-controls="delivery-details-form">
                            Delivery Address
                        </button>
                    </div>

                    <div id="delivery-details-form" class="collapse show" aria-labelledby="delivery-details"
                        data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <p>Choose a saved delivery address or enter a new one:</p>
                                </div>
                                <div class="col-12 col-sm-4 text-right">
                                    <select class="w-100 checkout-select" name="delivery" id="delivery-addresses">
                                        <option name="new_address" value="None" selected>Enter New</option>
                                        {% for address in delivery_addresses %}
                                        <option name="{{ address.address_ref }}" value="{{ address.address_ref }}">
                                            {{ address.address_ref }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-12">
                                    {{ delivery_forms.management_form }}
                                    {% for form in delivery_forms %}
                                    {% if forloop.last %}
                                    <div id="blank-form">
                                        {{ form |crispy }}
                                    </div>
                                    {% else %}
                                    <div class="delivery-form" id="{{ form.address_ref.value }}">
                                        {{ form |crispy }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            {{ form |crispy}}
            {% endif %}
            <div class="col-12 p-0">
                <div class="card product-list ml-0 pl-0 w-100">
                    <div class="card-body payment-card">
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </div>
                </div>
                <input type="hidden" value={{ client_secret }} name="client_secret">
            </div>
            <div class="col-12 w-100 text-right p-0">
                <button type="submit" class="btn btn-success w-100" id="checkout-submit-btn">Confirm
                    Payment</button>
            </div>
        </form>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light loading-spinner">
        <span class="icon">
            <i class="fas fa-5x fa-cog fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}

<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}