@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Advent+Pro&family=Harmattan&family=Marvel&family=Wire+One');
html,
body {
    height: 100%;
}

body {
    /* font-family: 'Advent Pro', sans-serif; */
    /* font-family: 'Harmattan', sans-serif; */
    /* font-family: 'Marvel', sans-serif; */
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 0.42);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Advent Pro', sans-serif; */
    /* font-family: 'Harmattan', sans-serif; */
    font-family: 'Marvel', sans-serif;
    /* font-family: 'Wire One', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.content {
    flex: 1 0 auto;
    margin-top: 190px;
}

.btn:focus {
    box-shadow: none;
}

.text-on-green {
    color: rgb(25 81 79);
}

.hidden {
    visibility: hidden;
    height: 0;
}

.header-buffer {
    margin: 0 10vh;
}


/********** HEADER/NAV **********/

.nav-main {
    padding-top: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(241, 242, 241, 1) 38%, rgba(241, 242, 241, 1) 66%, rgba(255, 255, 255, 1) 100%);
}

.nav-icons {
    height: 100%;
    padding-top: 1.3rem;
}

.inkshop-logo {
    max-height: 150px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.search-container {
    height: 100%;
    margin-top: 32px;
}

.search-field {
    background-color: rgba(255, 255, 255, .73);
    box-shadow: 10px 5px 50px -5px rgba(202, 209, 207, 1);
}

.form-control:focus {
    box-shadow: 0px 1px 10px 1px #2fb14614
}

.site-header {
    margin-top: 10px;
}


/* Browse Menu */

.dropdown-toggle::after {
    display: none;
}

.drop-text {
    height: 1px;
}


/********** FOOTER **********/

.footer {
    flex-shrink: 0;
}

.footer-container {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 260px;
    background-color: rgba(54, 75, 69, 0.9);
}

.footer-links-container {
    margin-top: 30px;
    padding-bottom: 2%;
}

.footer-links-left {
    padding-left: 20%;
}

.footer-links-middle {
    padding-left: 10%;
}

.footer-links-right {
    padding-right: 20%;
}

.footer-link {
    color: rgba(202, 209, 207, 0.726)
}

.footer-link:hover {
    text-decoration: none;
    color: rgba(183, 243, 226, 0.726);
}

.footer-logos {
    background-color: rgba(0, 14, 10, 0.7);
    min-height: 100px;
}

.footer-heading {
    color: rgb(218, 255, 245);
}


/********** TOASTS/MESSAGES **********/

.message-container {
    position: fixed;
    top: 16%;
    right: 10px;
    z-index: 999999999;
}

.toast {
    background-color: rgba(209, 223, 219, 0.13);
    color: rgb(48, 53, 47);
    border: none;
}

.toast-success {
    box-shadow: 0px 0px 5px 0px rgba(23, 94, 34, 0.55);
}

.toast-header {
    background-color: rgba(214, 230, 225, 0.13);
    color: rgb(1, 32, 7);
}

.toast-warning {
    box-shadow: 0px 0px 5px 0px rgba(116, 65, 7, 0.55);
}

.toast-error {
    box-shadow: 0px 0px 5px 0px rgba(158, 4, 4, 0.55);
}

.toast-info {
    box-shadow: 0px 0px 5px 0px rgba(5, 11, 100, 0.55);
}


/********** PRODUCTS **********/

.card {
    border: none;
}

.card a:hover {
    text-decoration: none;
}

.card-title {
    font-size: 1.8rem;
    font-family: 'Marvel', sans-serif;
}

.card-title a {
    color: rgb(6, 30, 56);
}

.card-title a:hover {
    color: rgba(6, 30, 56, .89);
    font-size: 1.807rem;
}

.products-container {
    margin: 0 10vw;
}

.product-list {
    width: 100%;
    margin: 0.75rem;
    box-shadow: 0px 1px 5px 0px rgba(196, 196, 196, .69);
}

.card-img {
    padding: 1rem;
}

.pricing {
    padding-top: 20px;
}

.form-row {
    margin-right: 10%;
}

.add-to-basket-btn {
    width: 100%;
}

.product-filters {
    position: relative;
}

.filters-card {
    /* position: fixed;
    width: 18%; */
    position: relative;
    width: 100%;
    margin: 4px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 5px 0px rgba(196, 196, 196, .69);
}

.filter-btn-unchecked {
    color: #fff !important;
    background-color: rgb(139, 139, 139);
}

.filter-btn-checked {
    color: #fff !important;
    background-color: rgb(48, 129, 48);
}

.product-detail-container {
    margin: 0 8vw;
    margin-bottom: 10vh;
}

.product-detail-image {
    width: 100%;
    padding: 2rem;
}

.optional-extras-wrapper {
    background-color: rgba(23, 111, 86, .16);
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin-top: 10vh;
}

.optional-extras-container {
    margin: 0 15vw;
}

.nav-link:hover {
    cursor: pointer;
}

.favourite-btn:hover {
    font-size: 1.1rem;
}


/********** BASKET **********/

.basket-line {
    max-height: 100px;
}

.basket-img {
    max-width: 100%;
    max-height: 100px;
}

.basket-card {
    box-shadow: 0px 0px 5px 1px rgba(183, 243, 226, 0.726);
}


/********** USER PROFILE **********/

.profile-container {
    width: 80%;
    margin: 0 10%;
    margin-bottom: 10%;
}

.profile-image {
    max-height: 100px;
    border-radius: 50%;
}

.delivery_btn {
    color: #000;
}

.delivery_btn:hover {
    text-decoration: none;
    color: teal;
}

.delivery-delete:hover {
    color: tomato;
}

.allauth-forms-container {
    width: 80%;
    margin: 0 10%;
}

.socialaccount_providers {
    padding: 0;
}

.socialaccount_logo {
    max-height: 40px;
}


/********** ACCOUNTS **********/

.login-card {
    width: 100%;
    margin: 0.75rem;
    padding: 1rem;
    box-shadow: 0px 1px 5px 0px rgba(196, 196, 196, .69);
}

.signup-card {
    padding: 1.2rem;
}

.verification-card {
    width: 40%;
    margin: 0 30%;
}

.login-title {
    background-color: rgba(44, 90, 14, 0.04);
    rgb(44 90 14 / 4%);
}

.form-wrapper {
    width: 50%;
    margin: 0 25%;
}

.forgot-password:hover {
    color: teal;
}


/********** MEDIA QUERIES **********/

@media (max-width: 992px) {
    .nav-main {
        width: 100vw;
        padding-bottom: 20px;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-nav {
        background-color: #fff;
        z-index: 9999;
    }
    .content {
        margin-top: 114px;
    }
    /* Products */
    .product-list {
        margin: 1.75rem 0;
    }
    .card-title {
        padding-top: 1rem;
    }
    .card-img {
        width: 50%;
    }
    .add-to-basket-btn {
        margin: 0;
        margin-bottom: 2rem;
    }
    .add-to-basket-btn>a {
        padding: .75rem;
    }
    .form-row {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    /* Products */
    .card-img {
        width: 80%;
    }
    .card-title {
        font-size: 1.5rem;
    }
    .card-body {
        padding: 0 1.25rem;
    }
    .card-body>p {
        font-size: .75rem;
    }
    .pricing {
        text-align: center !important;
        padding: 0;
    }
    .qty-selector {
        width: 80% !important;
        margin-left: 10%;
    }
    .add-to-basket-btn {
        width: 80% !important;
        margin: 10% 0;
    }
    /* Product Details */
    .optional-extras-container {
        margin: 0 10vw;
    }
    /* Basket */
    .mobile-basket-container {
        width: 90%;
        margin: 0 5%;
    }
}

@media (max-width: 426px) {
    /* Products */
    .products-container {
        margin: 0 2%;
    }
    .small-rule {
        width: 50%;
    }
    .card-body>p {
        margin-bottom: 0;
    }
    /* Product Details */
    #product_blurb_tab,
    #printer_compatibility_tab {
        font-size: .75rem;
    }
    #product_blurb,
    #printer_compatibility_list {
        font-size: 0.75rem;
        padding-top: .5rem;
    }
    .optional-extras-container {
        margin: 0 5%;
    }
    /* Toasts/Messages */
    .message-container {
        right: 0px;
        width: 90%;
        margin: 0 5%;
    }
}