<div class="col-12 col-md-6 footer-links-container pl-5">
    <a class="text-decoration-none" data-toggle="collapse" href="#footer-products">
        <h4 class="footer-heading">
            Products &nbsp;
            <span class="icons"><i class="fas fa-chevron-down fa-xs"></i></span>
        </h4>
    </a>
    <ul id="footer-products" class="collapse list-inline list-unstyled">
        <li><a href="{% url 'categories' category='supplies' %}" class="footer-link">Inks/Toners</a></li>
        <li><a href="{% url 'categories' category='printers' %}" class="footer-link">Printers</a></li>
        <li><a href="{% url 'products_by_category' category_id='714' %}" class="footer-link">Printing Paper</a></li>
        <li><a href="{% url 'products_by_category' category_id='1554' %}" class="footer-link">Blank Media &amp;
                Storage</a></li>
    </ul>
</div>
<div class="col-12 col-md-6 footer-links-container pl-5">
    <a class="text-decoration-none" data-toggle="collapse" href="#footer-about">
        <h4 class="footer-heading">
            About &nbsp;
            <span class="icons"><i class="fas fa-chevron-down fa-xs"></i></span>
        </h4>
    </a>
    <ul id="footer-about" class="collapse list-inline list-unstyled">
        <li><a href="{% url 'about' %}" class="footer-link">About the inkshop</a></li>
        <li><a href="{% url 'delivery_info' %}" class="footer-link">Delivery Info</a></li>
        <li><a href="{% url 'faqs' %}" class="footer-link">FAQs</a></li>
        <li><a href="{% url 'terms' %}" class="footer-link">Terms &amp; Conditions</a></li>
        <li><a href="{% url 'privacy' %}" class="footer-link">Privacy Policy</a></li>
    </ul>
</div>
<div class="col-12 pl-5 pt-4">
    <h4 class="footer-heading">Contact Us</h4>
    <ul class="list-inline list-unstyled">
        <li class="footer-link">Tel: +353 1 1234567</li>
        <li><a href="mailto:info@mllrb.com" class="footer-link">Email: info@mllrb.com </a></li>
    </ul>
</div>
<div class="col-12 footer-logos"></div>