<div class="col-12 col-md-6 footer-links-container pl-5">
    <a class="text-decoration-none" data-toggle="collapse" href="#footer-products">
        <h4 class="footer-heading">
            Products &nbsp;
            <span class="icons"><i class="fas fa-chevron-down fa-xs"></i></span>
        </h4>
    </a>
    <ul id="footer-products" class="collapse list-inline list-unstyled">
        <li><a href="" class="footer-link">Inks/Toners</a></li>
        <li><a href="" class="footer-link">Printers</a></li>
        <li><a href="" class="footer-link">Photo Paper</a></li>
        <li><a href="" class="footer-link">Blank Media &amp; Storage</a></li>
        <li><a href="" class="footer-link">Cleaning Products</a></li>
    </ul>
</div>
<div class="col-12 col-md-6 footer-links-container pl-5">
    <a class="text-decoration-none" data-toggle="collapse" href="#footer-about">
        <h4 class="footer-heading">
            About &nbsp;
            <span class="icons"><i class="fas fa-chevron-down fa-xs"></i></span>
        </h4>
    </a>
    <ul id="footer-about" class="collapse list-inline list-unstyled">
        <li><a href="" class="footer-link">About the inkshop</a></li>
        <li><a href="" class="footer-link">Delivery Info</a></li>
        <li><a href="" class="footer-link">FAQs</a></li>
        <li><a href="" class="footer-link">Terms &amp; Conditions</a></li>
        <li><a href="" class="footer-link">Privacy Policy</a></li>
    </ul>
</div>
<div class="col-12 pl-5 pt-4">
    <h4 class="footer-heading">Contact Us</h4>
    <ul class="list-inline list-unstyled">
        <li><a href="" class="footer-link">Tel: 021 4966850</a></li>
        <li><a href="" class="footer-link">Email: info@theinkshop.ie</a></li>
        <li><a href="" class="footer-link">Social Media</a></li>
    </ul>
</div>
<div class="col-12 footer-logos"></div>