{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load basket_tools %}

{% block content %}
<div class="row profile-container std-container">
    <div class="col-12 text-center my-3">
        <h2>Your Profile</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-4 text-center">
                {% if user.profile_pic %}
                <img src="{{ MEDIA_URL }}{{ user.profile_pic }}" alt="user.full_name" class="profile-image">
                {% elif user.profile_pic_url %}
                <img src="{{ user.profile_pic_url }}" alt="user.full_name" class="profile-image">
                {% else %}
                <img src="{{ MEDIA_URL }}no_profile_pic.png" alt="" class="profile-image">
                {% endif %}
            </div>
            <div class="col-12 col-lg-8 text-center">
                {% if user.full_name %}
                <p class="text-center">{{ user.full_name }}</p>
                {% else %}
                <p>Please enter your full name below.</p>
                {% endif %}
                <p>email: {{ email }}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-4 pt-3">
                <a href="{% url 'user_profile' template_target='billing' %}" class="btn w-100 rounded-0 profile-btn"
                    id="billing">Billing Details</a>
                <a href="{% url 'user_profile' template_target='delivery' %}" class="btn w-100 rounded-0 profile-btn"
                    id="delivery">Delivery Addresses</a>
                <a href="{% url 'user_profile' template_target='favourites' %}" class="btn w-100 rounded-0 profile-btn"
                    id="favourites">Favourite Products</a>
                <a href=" {% url 'user_profile' template_target='orders' %}" class="btn w-100 rounded-0 profile-btn"
                    id="orders">Order
                    History</a>
            </div>
            <div class="col-12 col-lg-8 mb-5">
                {% if target == 'billing' %}
                <div class="d-block d-lg-none pt-3 text-center">
                    <h5>Billing Address</h5>
                </div>
                <form class="mt-3" action="{% url 'user_profile' template_target='billing' %}" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success rounded-0 text-uppercase float-right">Update Info</button>
                </form>
                {% elif target == 'delivery' %}
                {% if delivery_addresses %}
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-center pt-3">Saved Delivery Addresses</h5>
                        <table class="table table-responsive table-borderless">
                            {% for address in delivery_addresses %}
                            <tr>
                                <td class="w-100">
                                    <a href="{% url 'update_delivery_address' address.id %}" class="delivery_btn">
                                        {{ address.address_ref }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'delete_delivery_address' address.id %}"
                                        class="text-danger delivery-delete">
                                        <span class="icon">
                                            <i class="fas fa-trash fa-lg"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <p class="text-center">
                            <a href="{% url 'add_delivery_address' template_target='delivery' %}"
                                class="btn btn-info rounded-0">
                                Add a new delivery address
                            </a>
                        </p>
                    </div>
                </div>
                {% else %}
                <h5 class="mt-3">You can save as many delivery addresses as you like but you have yet to save any.
                    Please do so below.</h5>
                <form class="mt-3" action="{% url 'user_profile' template_target=target %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if updating %}
                    <input type="hidden" name="updating" value="{{ address_id }}">
                    {% endif %}
                    <button class="btn btn-success rounded-1 btn-mobile mt-1">
                        Update Delivery Address
                    </button>
                </form>
                {% endif %}
                {% elif target == "favourites"%}
                {% include 'customers/includes/favourite_products.html' %}
                {% else %}
                <h5 class="pt-3"><strong>Your Previous Orders</strong></h5>
                <div class="row">
                    <div class="col-12">
                        <div id="accordion">
                            {% for order in user.orders.all reversed %}
                            <div class="card product-list ml-0 pl-0">
                                <div class="card-header rounded-0" id="billing-details">
                                    <button type="button" class="btn w-100 h-100 px-0" data-toggle="collapse"
                                        data-target="#{{ order.order_number }}" aria-expanded="false"
                                        aria-controls="{{ order.order_number }}">
                                        <div class="row m-0 p-0">
                                            <div class="col-12 col-lg-6 m-0 p-0">
                                                <span class="text-left">Order #:
                                                    {{ order.order_number |truncatechars:20 }}</span>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <span class="text-right">Date: {{ order.date }}</span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div id="{{ order.order_number }}" class="collapse"
                                    aria-labelledby="{{ order.order_number }}" data-parent="#accordion">
                                    <div class="card-body">
                                        {% for order_line in ordered_products %}
                                        {% if order_line.order_num == order.order_number %}
                                        <div class="row">
                                            <div class="col-12 col-lg-2">
                                                {% if order_line.product.img_src %}
                                                <img class="card-img w-100" src="{{ order_line.product.img_src }}"
                                                    alt="{{ order_line.product.title }}">
                                                {% elif order_line.product.image %}
                                                <img class="card-img w-100"
                                                    src="{{ MEDIA_URL}}{{ order_line.product.image }}"
                                                    alt="{{ order_line.product.title }}">
                                                {% else %}
                                                <img class="card-img w-100" src="{{ MEDIA_URL }}noimage.png"
                                                    alt="{{ order_line.product.title }}">
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-lg-6 pt-3 card-body-mobile">
                                                <h5><strong>{{ order_line.product.title }}</strong></h5>
                                            </div>
                                            <div class="col-12 col-lg-4 pt-3 card-body-mobile">
                                                <p>Current Price<small> (ex VAT)</small>
                                                    €{{order_line.product.price}}
                                                </p>
                                                <p>Qty Ordered: {{ order_line.qty }}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <hr>
                                        <div class="row p-2">
                                            <div class="col-7 col-md-10 text-right">
                                                <p>Sub Total</p>
                                            </div>
                                            <div class="col-5 col-md-2 text-right">
                                                <p>€{{ order.order_subtotal }}</p>
                                            </div>
                                            <div class="col-7 col-md-10 text-right">
                                                <p>Total VAT:</p>
                                            </div>
                                            <div class="col-5 col-md-2 text-right">
                                                <p>€{{ order.order_VAT }}</p>
                                            </div>
                                            {% if order.delivery_cost == 0 %}
                                            <div class="col-12 text-right">
                                                <p class="text-danger">FREE DELIVERY!</p>
                                            </div>
                                            {% else %}
                                            <div class="col-7 col-md-10 text-right">
                                                <p>Delivery:</p>
                                            </div>
                                            <div class="col-5 col-md-2 text-right">
                                                <p>€{{ order.delivery_cost |floatformat:2}}</p>
                                            </div>
                                            {% endif %}
                                            <hr>
                                            <div class="col-7 col-md-10 text-right border-top">
                                                <p class="pt-2"><strong>Order total:</strong></p>
                                            </div>
                                            <div class="col-5 col-md-2 text-right border-top">
                                                <p class="pt-2"><strong>€{{ order.grand_total }}</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center pb-4">
                                                <a href="{% url 'repeat_order' order.order_number %}"
                                                    class="btn btn-success rounded-1 btn-mobile"> Re-order these
                                                    products</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    {% include 'customers/includes/profile_btn_selected_js.html' %}
    {% endblock %}