{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<div class="card login-card verification-card text-center pt-5 pb-5 mt-2 mb-5">
    <h2 class="card-title">{% trans "Confirm E-mail Address" %}</h2>


    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
            href="mailto:{{ email }}">{{ email }}</a> is your e-mail address{% endblocktrans %}</p>
    <div class="form-wrapper">
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <input type="hidden" name="{{ redirect_field_name }}" value="customers/billing/" />

            <button class="btn btn-success" type="submit">{% trans 'Confirm' %}</button>
        </form>
    </div>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
            e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</div>

{% endblock %}