{% comment %} {% extends "account/base.html" %} {% endcomment %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% comment %} {% block inner_content %} {% endcomment %}

{% comment %} <div class="card product-list">
    <div class="row card-title pt-5">
        <div class="col-12">
            <h2 class="card-title text-center">Sign In</h2>
        </div>
    </div>
    <div class="row card-body text-center">
        <div class="col-12"> {% endcomment %}
            <div class="card login-card text-center login-title">
                <h2 class="card-title pt-2">Sign In</h2>
            </div>
            <div class="card login-card">
                <div class="socialaccount_ballot text-center">

                    <ul class="socialaccount_providers pt-3">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    {% comment %} <div class="login-or">{% trans 'or' %}</div> {% endcomment %}

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                <div class="card-body form-wrapper">
                    <form class="login w-100" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form |crispy}}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="text-center pt-3">
                            <a href="{% url 'home' %}" class="btn btn-info mb-2 account-btn">Home</a>
                            <button class="btn btn-success primaryAction mb-2 account-btn"
                                type="submit">{% trans "Sign In" %}</button>
                            <p>
                                <small>
                                    <a class="text-secondary forgot-password"
                                        href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                </small>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            {% comment %}
        </div>
    </div>
</div>

{% endblock %}{% endcomment %}