{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block inner_content %}

<div class="card product-list">
    <div class="row card-title pt-5">
        <div class="col-12">
            <h2 class="card-title text-center">Sign In</h2>
        </div>
    </div>
    <div class="row card-body text-center">
        <div class="col-12">
            <div class="socialaccount_ballot">

                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>

                <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form |crispy}}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">Home</a>
                <button class="btn btn-black rounded-0 primaryAction" type="submit">{% trans "Sign In" %}</button>
                <p class="mt-2">
                    <a class="button secondaryAction"
                        href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}