{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="card login-card verification-card text-center pt-5 pb-5 mt-2 mb-5">
    <h2 class="card-title pb-4">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div class="form-wrapper text-left">
            {{ form|crispy }}
        </div>
        <a class="btn btn-secondary rounded-1 mb-2 account-btn" href="{% url 'account' %}">Back to Login</a>
        <button class="btn btn-success rounded-1 mb-2 account-btn" type="submit"
            name="action">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}