{% comment %} {% extends "account/base.html" %} {% endcomment %}

{% load i18n %}
{% load crispy_forms_tags %}

<div class="card login-card login-title">
    <h2 class="card-title text-center pt-2">{% trans "Sign Up" %}</h2>
</div>
<div class="card login-card signup-card">
    <div class="form-wrapper pt-3">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form |crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="accounts/confirm-email/" />
            {% endif %}
            <div class="text-center pt-3 pb-1">
                <button class="btn btn-success account-btn" type="submit">{% trans "Sign Up" %}</button>
            </div>
        </form>
    </div>
</div>