{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card product-detail-container">
    <div class="row p-2 d-none d-lg-flex">
        <div class="col-5">
            <img class="product-detail-image" src="{{ product.img }}" alt="{{ product.name }}">
        </div>
        <div class="col-7">
            <div class="card-title"><strong>{{ product.title }}</strong></div>
            <p class="text-muted">
                <small>skus:
                    {% for sku in product.skus %}
                    <span>{{ sku }}, </span>
                    {% endfor %}
                </small>
            </p>
            <p>{{ product.description }}</p>
            <h5>Product Features:</h5>
            {% for info in product_info %}
            {% if product.id == info.id %}
            <p>
                {% if info.pages %}Prints up to {{ info.pages }}<br>{% endif %}
                {% if info.volume %}Contains {{ info.volume }}<br>{% endif %}
                {% if info.colour %}Colour: {{ info.colour |capfirst}}<br>
                {% endif %}
            </p>
            {% endif %}
            {% endfor %}
            <div class="col-12 pricing">
                <strong>€{{ product.calculate_inc_vat_price }} <span class="text-muted">inc VAT<span></strong>
            </div>
            <div class="col-12 pricing">
                <small class="text-muted">{{ product.price }} ex VAT</small>
            </div>
            <div class="col-12 pricing">
                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 pricing">
                            {% include 'products/includes/quantity_selector.html' %}
                        </div>
                        <div class="col-12 pricing add-to-basket-btn">
                            <input type="submit" class="btn btn-success w-100 rounded-0 border-0" value="Add to Basket">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row p-2 d-flex d-lg-none">
        <div class="col-12">
            {% include 'products/includes/product_list_mobile.html' %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="product_blurb_tab">Extra Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="printer_compatibility_tab">Printer Compatibility</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p id="product_blurb">{{ product.blurb |safe }}</p>
            <div class="row hidden" id="printer_compatibility_list">
                {% for printer in product.related_printers %}
                <div class="col-6 col-sm-4"><small>{{ printer.printer_name |safe }}</small></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'products/includes/optional_extras.html' with originator=product.id %}
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>
    /* Behaviour for switching between Extra info and compatibility tabs */

    /* Show Printer Compatibility tab, hide Extra Info tab*/
    $('#printer_compatibility_tab').click('on', function () {
        $(this).addClass('active');
        $('#printer_compatibility_list').removeClass('hidden');
        $('#product_blurb_tab').removeClass('active');
        $('#product_blurb').addClass('hidden');
    })

    /* Show Extra Info tab, hide Printer Compatibility tab*/
    $('#product_blurb_tab').click('on', function () {
        $(this).addClass('active');
        $('#product_blurb').removeClass('hidden');
        $('#printer_compatibility_list').addClass('hidden');
        $('#printer_compatibility_tab').removeClass('active');
    })
</script>
{% endblock %}