{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row std-container">
    <div class="col-12">
        <h2 class="text-center">Product Maintenance</h2>
        <hr>
    </div>
    <div class="col-12">
        <div class="card product-list">
            <div class="card-body">
                <form method="GET" action="{% url 'find_products_to_edit' %}">
                    <div class="input-group w-100">
                        <input class="form-control w-100 border-0 rounded-1" type="text" name="q"
                            placeholder="Search for a product to edit">
                        <div class="input-group-append">
                            <button class="form-control btn border-0 rounded-1 bg-white text-success" type="submit">
                                <span class="icon search-field">
                                    <i class="fas fa-search "></i>
                                </span>
                            </button>
                        </div>
                        <a href="{% url 'add_product' %}" class="btn btn-success rounded-1">Add a Product</a>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div class="col-12 col-md-6">
        <div class="card product-list">
            <div class="card-title text-center pt-4">Product Groups</div>
            <div class="card-body">
                <table class="table-responsive text-center w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Profit Margin</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for group in pgroups %}
                    <tr>
                        <form action="{% url 'update_p_group' group.id %}" method="POST">
                            {% csrf_token %}
                            <td>
                                <input class="w-50 text-center" type="number" value="{{group.id}}" disabled>
                            </td>
                            <td>
                                <input type="text" class="form-input text-uppercase" name="{{ group.id }}_name"
                                    value="{{ group.name }}" required>
                            </td>
                            <td>
                                <input type="number" class="form-input" min="1" max="99" name="{{ group.id }}_margin"
                                    value="{{ group.profit_margin }}" required>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-info rounded-1">Update</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                    <tr>
                        <form action="{% url 'add_p_group' %}" method="POST">
                            {% csrf_token %}
                            <td class="pt-4">
                                <input class="w-50 text-center" type="number" value="" disabled>
                            </td>
                            <td class="pt-4">
                                <input type="text" class="form-input text-uppercase" name="new_p_group" required>
                            </td>
                            <td class="pt-4">
                                <input type="number" class="form-input" min="1" max="99" name="new_profit_margin"
                                    placeholder="%" required>
                            </td>
                            <td class="pt-4">
                                <button type="submit" class="btn btn-success rounded-1 w-100">Add</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card product-list">
            <div class="card-title text-center pt-4">VAT Groups</div>
            <div class="card-body">
                <table class="table-responsive text-center w-100">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>VAT Rate %</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for group in vatgroups %}
                    <tr>
                        <form action="{% url 'update_v_group' group.id %}" method="POST">
                            {% csrf_token %}
                            <td>
                                <input class="w-50 text-center" type="number" value="{{group.id}}" disabled>
                            </td>
                            <td>
                                <input type="text" class="form-input text-uppercase" name="{{ group.id }}_name"
                                    value="{{ group.name }}" required>
                            </td>
                            <td>
                                <input type="number" class="form-input" min="1" max="99" name="{{ group.id }}_rate"
                                    value="{{ group.vat_rate }}" required>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-info rounded-1">Update</button>
                            </td>

                        </form>
                    </tr>
                    {% endfor %}
                    <tr>
                        <form action="{% url 'add_v_group' %}" method="POST">
                            {% csrf_token %}
                            <td class="pt-4">
                                <input class="w-50 text-center" type="number" value="" disabled>
                            </td>
                            <td class="pt-4">
                                <input type="text" class="form-input text-uppercase" name="new_v_group" required>
                            </td>
                            <td class="pt-4">
                                <input type="number" class="form-input" min="1" max="99" name="new_vat_rate"
                                    placeholder="%" required>
                            </td>
                            <td class="pt-4">
                                <button type="submit" class="btn btn-success rounded-1 w-100">Add</button>
                            </td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div class="card product-list">
            <div class="card-title text-center pt-4">Categories</div>
            <div class="card-body">
                <table class="table-responsive w-100">
                    <tr>
                        <th class="id_col">ID</th>
                        <th class="w-25">Name</th>
                        <th class="w-100">Description</th>
                        <th></th>
                    </tr>
                    {% for category in categories %}
                    <tr>
                        <form action="{% url 'update_category' category.id %}" method="POST">
                            {% csrf_token %}
                            <td>
                                <input type="number" class="w-75" name="{{ category.id }}_id" value="{{ category.id }}"
                                    disabled>
                            </td>
                            <td>
                                <input type="text" class="w-75" name="{{ category.id }}_name"
                                    value="{{ category.friendly_name }}" required>
                            </td>
                            <td>
                                <textarea class="w-100" name="{{ category.id }}_description"
                                    required>{{ category.description }}</textarea>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success rounded-1">Update</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
    <div class="col-12 text-center">
        <p>If you have made changes to product or vat groups, it is recommended that you update all pricing</p>
        <a class="btn btn-success rounded-1" href="{% url 'update_prices' %}">Update Pricing</a>
    </div>
</div>

{% endblock %}