{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row products-container">
    {% if search %}
    <div class="col-12">
        <h4>Your search for "{{ search }}" returned the following results</h4>
        <hr>
    </div>
    {% endif %}
    <div class="d-none d-lg-block col-lg-3 product-filters">
        <div class="card filters-card border-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="card-title text-center pt-2">
                        <h4>Filters</h4>
                        <p id="message"></p>
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <div class="row">
                                {% for filter in filters %}
                                <div class="col-12">
                                    <a data-filter-value="{{ filter }}" id="{{ filter }}"
                                        class="btn rounded-1 border-0 w-100 mt-1 filter-btn-unchecked">
                                        {{ filter }}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block col-lg-9">
        {% for product in products %}
        <div class="card product-list rounded-1 border-0" id="{{ product.id }}">
            <div class="row no-gutters">
                <div class="col-3">
                    {% if product.img_src %}
                    <img class="card-img" src="{{ product.img_src }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="card-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>
                                <a href="{% url 'product_detail' product.id %}"> {{ product.title }} </a>
                            </strong>
                        </h5>
                        <div class="row no-gutters">
                            {% if user.is_authenticated %}
                            <div class="col-9 pt-2">
                                <p class="card-text">
                                    {% if product.description %}
                                    {% if product.description|wordcount > 30 %}
                                    {{ product.description |truncatewords_html:30|safe }}
                                    <a href="#description_{{product.id}}" data-toggle="collapse"
                                        data-target="#description_{{product.id}}" data-item_id="{{ product.id }}"
                                        class="collapse-link">
                                        <small>see full description</small>
                                    </a>
                                    {% else %}
                                    {{ product.description |safe }}
                                    {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-3">
                                {% if product.id in favourites %}
                                <form action="{% url 'remove_from_favourites' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn favourite-btn float-right" data-toggle="popover"
                                        data-content="Remove from favourites" data-placement="bottom">
                                        <span class="icon text-danger">
                                            <i class="fas fa-heart"></i>
                                        </span>
                                    </button>
                                    <input type="hidden" name="q" value="{{ search }}">
                                </form>
                                {% else %}
                                <form action="{% url 'add_to_favourites' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn favourite-btn float-right" data-toggle="popover"
                                        data-content="Add to favourites" data-placement="bottom">
                                        <span class="icon text-danger">
                                            <i class="far fa-heart"></i>
                                        </span>
                                    </button>
                                    <input type="hidden" name="q" value="{{ search }}">
                                </form>
                                {% endif %}
                            </div>
                            {% else %}
                            <div class="col-12 pt-2">
                                <p class="card-text">
                                    {% if product.description %}
                                    {% if product.description|wordcount > 30 %}
                                    {{ product.description |truncatewords_html:30|safe }}
                                    <a href="#description_{{product.id}}" data-toggle="collapse"
                                        data-target="#description_{{product.id}}" data-item_id="{{ product.id }}"
                                        class="collapse-link">
                                        <small>see full description</small>
                                    </a>
                                    {% else %}
                                    {{ product.description |safe }}
                                    {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                        {% for info in product_info %}
                        {% if product.id == info.id %}
                        <p>
                            {% if info.pages %}Prints up to {{ info.pages }}<br>{% endif %}
                            {% if info.volume %}Contains {{ info.volume }}<br>{% endif %}
                            {% if info.colour %}Colour:
                            <span data-prod-id="{{ info.id }}">{{ info.colour |capfirst }}</span><br>
                            {% endif %}
                            {% if info.print_colour %}Printing Colours: {{ info.print_colour |capfirst }}<br>{% endif %}
                            {% if info.print_tech %}Printer Type: {{ info.print_tech |capfirst }}<br>{% endif %}
                            {% if info.print_speed %}Print Speed: {{ info.print_speed |capfirst }}</span><br>
                            {% endif %}
                        </p>
                        {% endif %}
                        {% endfor %}
                        {% if product.blurb %}
                        <a href="#blurb_{{product.id}}" data-toggle="collapse" data-target="#blurb_{{product.id}}"
                            data-item_id="{{ product.id }}" class="collapse-link">
                            <small>moreinfo</small>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <a href="#features_{{product.id}}" data-toggle="collapse" data-target="#features_{{product.id}}"
                            class="collapse-link" data-item_id={{ product.id}}><small>product features</small></a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-12 pricing">
                            <strong>€{{ product.calculate_inc_vat_price }} <span class="text-muted">inc
                                    VAT<span></strong>
                        </div>
                        <div class="col-12 pricing">
                            <small class="text-muted">€{{ product.price }} ex VAT</small>
                        </div>

                        <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 pricing">
                                    {% include 'products/includes/quantity_selector.html' %}
                                </div>
                                <div class="col-12 pricing add-to-basket-btn">
                                    <input type="submit" class="btn btn-success w-100 rounded-0 border-0"
                                        value="Add to Basket">
                                </div>
                                <input type="hidden" name="q" value="{{ search }}">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 px-3">
                    <div class="collapse" id="description_{{ product.id }}">
                        <p><small>{{ product.description |safe }}</small></p>
                    </div>
                    <div class="collapse" id="blurb_{{ product.id }}">
                        <p><small>{{ product.blurb |safe }}</small></p>
                    </div>
                    <div class="collapse" id="features_{{ product.id }}">
                        <p>
                            {% for feature in product.features %}
                            <small>{{ feature.feature_name |safe }}: {{ feature.feature_value |safe }}</small><br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-block d-lg-none col-12">
        {% for product in products %}
        {% include 'products/includes/product_list_mobile.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}

{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'products/includes/filter_behaviour_script.html' %}
{% include 'products/includes/favourites_popover_script.html' %}
<script type="text/javascript">
    $('.collapse-link').click(function () {
        var productId = $(this).data('item_id');
        var target = $(this).data('target');

        $(target).toggle('collapse');

        if ($(`#blurb_${productId}`).is(':visible')) {
            if (target != `#blurb_${productId}`) {
                $(`#blurb_${productId}`).toggle('collapse');
            }
        }
        if ($(`#description_${productId}`).is(':visible')) {
            if (target != `#description_${productId}`) {
                $(`#description_${productId}`).toggle('collapse');
            }
        }
        if ($(`#features_${productId}`).is(':visible')) {
            if (target != `#features_${productId}`) {
                $(`#features_${productId}`).toggle('collapse');
            }
        }
    })
</script>
{% endblock %}